html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 14px;
    font-family: "Jua", sans-serif;
    font-style: normal;
    
}

main {
    padding: 1rem;
}

footer{
    background-color: #e3dfef;
    padding: 1rem;
    text-align: center;
}


header {
    text-align: center;
    background-color: #a68dea;
    padding: 1vh 0;
    color: white;
}

main > div{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: visible;
}

#inventory-table-div{
    
}

#item-table-div{
    
}

table {
    width: 75vw;
}

th {
    background-color: #a68dea;
    color: white;
}

.tr-data-row:hover{
    background-color: #8dc3ea;
    cursor: pointer
}

.row-selected {
    background-color: #4cabef;
}

button {
    background-color: #a68dea;
    border: none;
    padding: .3rem;
    border-radius: ;
}

button:hover{
    cursor: pointer;
    background-color: #8dc3ea;
}

button:disabled{
    background-color: rgb(174, 174, 174);
    cursor: default
}

.action-btn-div{
    padding: 1rem;
    display: flex;
    width: 75vw;
    justify-content: space-between;
}*/ 