html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 14px;
    font-family: "Jua", sans-serif;
    font-style: normal;
    
}

main {
    padding: 1rem;
}

footer{
    background-color: #e3dfef;
    padding: 1rem;
    text-align: center;
}


header {
    text-align: center;
    background-color: #a68dea;
    padding: 1vh 0;
    color: white;
}

main > div{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: visible;
}

table {
    width: 75vw;
}

th {
    background-color: #a68dea;
    color: white;
}

.tr-data-row:hover{
    background-color: #8dc3ea;
    cursor: pointer
}

.row-selected {
    background-color: #4cabef;
}

button, input[type="submit"] {
    background-color: #a68dea;
    border: none;
    padding: .3rem;
}

button:hover, input[type="submit"]:hover{
    cursor: pointer;
    background-color: #8dc3ea;
}

button:disabled, input[type="submit"]:disabled{
    background-color: rgb(174, 174, 174);
    cursor: default
}

.action-btn-div{
    padding: 1rem;
    display: flex;
    width: 75vw;
    justify-content: space-between;
}

#edit-item-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 30%;
    left: 25%;
    border: solid, 2px, #7c5ddb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.22), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
}

#edit-item-form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    width: 50vw;
    background-color: #a68dea;
}

#edit-item-form > div{
    width: 100%;
    box-sizing: border-box;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.form-action-btn-div> button, .form-action-btn-div > input[type="submit"]{
    width: 40%;
    font-size: 1.25rem;
}

.form-label-style{
    font-size: 1.25em;
}

.form-input-style{
    border: none;
    background-color: #e3dfef;
    font-size: 1.25em;
    width: 50%;
}

#item-table-div > p {
    margin: 0;
}

#item-table-div > h2 {
    margin-bottom: .25rem;
}

.adjust-count-btn{
    border-radius: 20px;
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 54vh;
    padding: 0;
    visibility: hidden;
}

#dec-btn{
    left: 4vw;
}

#inc-btn{
    right: 4vw;
}
