<!DOCTYPE html>
<html>
    <head>
        <title>Inventory Tool</title>
        <link rel="stylesheet" href="../static/invtool.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    </head>
    <body>
        <header>
                <h1>Inventory Tool</h1>
                <p>A tool to keep an inventory of your items.</p>
        </header>
        <main id="main">
            <div id="inventory-table-div">
                <h2>List of Inventories</h2>
                <table id="inventory-table">
                    <tr class="tr-header">
                        <th>Inventory Name</th>
                        <th>Date Created</th>
                    </tr>
                    <tr class="tr-data-row">
                        <td>Test Inventory 1</td>
                        <td>10/10/2025</td>
                    </tr>
                    <tr class="tr-data-row">
                        <td>Test Inventory 2</td>
                        <td>10/10/2025</td>
                    </tr>
                    <tr class="tr-data-row">
                        <td>Test Inventory 3</td>
                        <td>10/10/2025</td>
                    </tr>
                    <tr class="tr-data-row">
                        <td>Test Inventory 4</td>
                        <td>10/10/2025</td>
                    </tr>
                </table>
                <div class="action-btn-div">
                    <button>Add New Inventory</button>
                    <button disabled>Delete Inventory</button>
                    <button disabled>Rename Inventory</button>
                </div>
            </div>
            
            <div id="item-table-div">
                <h2>Test Inventory 1</h2>
                <table id="item-table">
                    <tr class="tr-header">
                        <th>Item Name</th>
                        <th>Count</th>
                    </tr>
                    <tr class="tr-data-row">
                        <td>Bread</td>
                        <td>3</td>
                    </tr>
                    <tr class="tr-data-row">
                        <td>Eggs</td>
                        <td>1</td>
                    </tr>
                    <tr class="tr-data-row">
                        <td>Milk</td>
                        <td>5</td>
                    </tr>
                </table>
                <div class="action-btn-div">
                    <button>Add New Item</button>
                    <button disabled>Delete Item</button>
                    <button disabled>Edit Item</button>
                </div>
            </div>
        </main>
        <div id="edit-item-div" style="visibility: hidden;">
            <form id="edit-item-form">
                <div class="form-input-field-div">
                    <label class="form-label-style" for="item-name-input">Item Name</label>
                    <input class="form-input-style" type="text" id="item-name-input" name="item-name-input" required>
                </div>
                <div>
                    <label class="form-label-style" for="item-count-input">Count</label>
                    <input class="form-input-style" type="number" id="item-count-input" name="item-count-input" required>
                </div>
                <div class="form-action-btn-div">
                    <button id="edit-item-cancel-btn" formnovalidate>Cancel</button>
                    <input type="submit" value="Save" id="save-item-btn">
                </div>
            </form>
        </div>
        <footer>
            <p>
                Please note: local storage is used to store local user data.
                <br>None of the data is retained by me. 
            </p>
            <p>Copyright © 2025 Micah's Tools</p>
        </footer>
        <script type="module" src="../static/invtool.js"></script>
    </body>
</html>